* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 60vh;
    width: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/hero.jpg');
    border: 2px solid black;
    position: relative;

}

.logo {
    height: auto;
    width: 50vw;
}

.hero nav ul .menu li {
    display: inline;
    color: white;
}

.hero nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: relative;
}


.menu {
    display: flex;
    gap: 50px;
    font-size: 20px;
}

.overlay {
    height: 60vh;
    width: 100%;
    top: 0;
    background: #000;
    opacity: 0.44;
    position: absolute;
    z-index: 1;
}

.end {
    height: 10vh;
    --mask:
        radial-gradient(57.63px at 50% 81px, #000 99%, #0000 101%) calc(50% - 72px) 0/144px 100%,
        radial-gradient(57.63px at 50% -45px, #0000 99%, #000 101%) 50% 36px/144px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: #EAAA00;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}

.end2 {
    height: 10vh;
    --mask:
        radial-gradient(57.63px at 50% 81px, #000 99%, #0000 101%) calc(50% - 72px) 0/144px 100%,
        radial-gradient(57.63px at 50% -45px, #0000 99%, #000 101%) 50% 36px/144px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: white;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}

.heading {
    display: flex;
    height: 40vh;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    flex-direction: column;
}

.content-container {
    height: 200vh;
    width: screen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 {
    width: 850px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content2 {
    width: 850px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content3 {
    width: 850px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    height: 60vh;
    background: rgb(35, 30, 30);
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
    margin: 150px;

}

@media (max-width:728px) {
    .footer-content {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-content: space-between;
        margin: 50px;

    }
}

.endLogo {
    height: auto;
    width: 50vw;
    margin-top: 50px;
    opacity: 0.3;
    position: relative;
    left: 0;
}